.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #00CBA6, #0086D3); /* 로딩 페이지와 동일한 배경 */
    color: white;
    font-family: 'Arial', sans-serif;
  }
  
  .result-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
    animation: fadeIn 1.5s ease-in-out infinite alternate;
  }
  
  .result-food-name {
    font-size: 32px;
    margin-bottom: 3px;
    animation: fadeIn 1.5s ease-in-out infinite alternate;
  }
  
  .result-image-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .result-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px; /* 부드러운 모서리 */
    
  }
  .result-food-name span {
    color: yellow; /* foodName에만 노란색 적용 */
  }
  /* 텍스트 페이드 효과 */
  @keyframes fadeIn {
    from {
      opacity: 0.3;
    }
    to {
      opacity: 1;
    }
  }
  