body {
  margin: 0;
  padding: 0;
  font-family: 'pretendard';
  background-color: #f5f5f5;
}

/* 메인 컨테이너 */
.nutrition-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  max-width: 390px; /* iPhone 12 Pro 가로 길이 */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
