.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #00CBA6, #0086D3); /* 배경 색상 */
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .loading-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .loading-container p {
    font-size: 1.2rem;
  }
  